<!-- Show accounts if any exist, or show 'no mortgage' message if there are none -->
  <h3><a href="/401ks">401K Accounts</a></h3>
  {{#if retirements}}
  <table class="gridTable">
    <tr>
      <th class="gridCell">Account Name</th>
      <th class="gridCell">Current Balance</th>
    </tr>
    <!-- Loop over each object in the accounts array -->
    {{#each retirements as |retirement| }}
      {{> 401kGrid}}
    {{/each}}
    <tr>
      <th>Total</th>
      <th class="gridCell gridCurrency">${{total401kBalance}}</th>
    </tr>
  </table>
  {{else}}
    <p class="centered">No 401K accounts available. Go to the 401K Accounts page and click the "Add 401K Account" button to add one.</p>
  {{/if}}
