<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <nav>
          <button class="no-button" id="home"><a href="/">Home</a></button>
          {{#if logged_in}}
            <button class="no-button" id="banks"><a href="/banks">Bank Accounts</a></button>
            <button class="no-button" id="mortgages"><a
                href="/mortgages"
              >Mortgages</a></button>
            <button class="no-button" id="cars"><a href="/cars">Car Loans</a></button>
            <button class="no-button" id="cards"><a href="/cards">Credit
                Cards</a></button>
            <button class="no-button" id="loans"><a href="/loans">Miscellaneous
                Loans</a></button>
            <button class="no-button" id="401ks"><a href="/401ks">401Ks</a></button>
            <button class="no-button" id="iras"><a href="/iras">IRAs</a></button>
            <!-- Conditionally render login or logout links -->
            <button class="no-button" id="logout"><a
                href="/logout"
              >Logout</a></button>
          {{else}}
            <button class="no-button" id="login"><a
                href="/login"
              >Login</a></button>
          {{/if}}
        </nav>
        <h1>
          Finance Tracker
        </h1>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>