<!-- Show a list of mortgages if there's at lease one available -->
<h3>Bank Accounts</h3>
{{#if accounts.length}}
<div class="accountPosts">
{{#each accounts as |account| }}
  <a href="/edit-account/{{id}}"><button class="btn btn-secondary btn-lg btn-block accountBtn"><span class="accountPost">{{title}}</span></button></a>
{{/each}}
</div>
{{else}}
<p class="centered">No accounts available</p>
{{/if}}

<!-- Create new post button -->
  <p class="centered">
    <button class="btn btn-primary"><a href="/add-account">Add Bank Account</a></button>
  </p>