<!-- Create new miscellaneous loan card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Add Miscellaneous Loan</div>
  </div>
  <div class="accountCardBody">
    <form id="newLoan" class="comment-form">
    <p>Title</p>
    <input id="newLoanTitle" class="form-control" />
    <p>Principal Amount</p>
    <input id="newLoanAmount" class="form-control" />
    <p>Annual Interest Rate</p>
    <input id="newLoanAnnualInterestRate" class="form-control" />
    <p>Loan Term in Months</p>
    <input id="newLoanMonths" class="form-control" />
    <p class="centered">
      <button id="createLoan" class="btn btn-primary">Create</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/addLoan.js"></script>
<script src="../js/cancelButton.js"></script>