<!-- Create new mortgage card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Add Brokerage Account</div>
  </div>
  <div class="accountCardBody">
    <form id="newBrokerage" class="comment-form">
    <p>Title</p>
    <input id="newBrokerageTitle" class="form-control" />
    <p>Current Balance</p>
    <input id="newBrokerageBalance" class="form-control" />
    <p class="centered">
      <button id="createBrokerage" class="btn btn-primary">Create</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/addBrokerage.js"></script>
<script src="../js/cancelButton.js"></script>