<!-- Create new mortgage card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Add CD Account</div>
  </div>
  <div class="accountCardBody">
    <form id="newCd" class="comment-form">
    <p>Title</p>
    <input id="newCdTitle" class="form-control" />
    <p>Current Balance</p>
    <input id="newCdBalance" class="form-control" />
    <p class="centered">
      <button id="createCd" class="btn btn-primary">Create</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/addCd.js"></script>
<script src="../js/cancelButton.js"></script>