<!-- Create new mortgage card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Add 401K Account</div>
  </div>
  <div class="accountCardBody">
    <form id="new401k" class="comment-form">
    <p>Title</p>
    <input id="new401kTitle" class="form-control" />
    <p>Current Balance</p>
    <input id="new401kBalance" class="form-control" />
    <p class="centered">
      <button id="create401k" class="btn btn-primary">Create</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/add401k.js"></script>
<script src="../js/cancelButton.js"></script>