<!-- Edit car loan card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Edit Brokerage Account</div>
  </div>
  <div class="accountCardBody">
    <form id="viewBrokerage" class="comment-form">
    <p>Title</p>
    <input id="viewBrokerageTitle" class="form-control" value="{{title}}" />
    <p>Current Balance</p>
    <input id="viewBrokerageBalance" class="form-control" value="{{balance}}" />
    <p class="centered">
      <button id="updateBrokerageBtn" class="btn btn-primary">Update</button>
      <button id="deleteBrokerageBtn" class="btn btn-danger">Delete</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/updateBrokerage.js"></script>
<script src="../js/deleteBrokerage.js"></script>
<script src="../js/cancelButton.js"></script>