<!-- Edit car loan card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Edit CD Account</div>
  </div>
  <div class="accountCardBody">
    <form id="viewCd" class="comment-form">
    <p>Title</p>
    <input id="viewCdTitle" class="form-control" value="{{title}}" />
    <p>Current Balance</p>
    <input id="viewCdBalance" class="form-control" value="{{balance}}" />
    <p class="centered">
      <button id="updateCdBtn" class="btn btn-primary">Update</button>
      <button id="deleteCdBtn" class="btn btn-danger">Delete</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/updateCd.js"></script>
<script src="../js/deleteCd.js"></script>
<script src="../js/cancelButton.js"></script>