<!-- Edit car loan card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Edit 401k Account</div>
  </div>
  <div class="accountCardBody">
    <form id="view401k" class="comment-form">
    <p>Title</p>
    <input id="view401kTitle" class="form-control" value="{{title}}" />
    <p>Current Balance</p>
    <input id="view401kBalance" class="form-control" value="{{balance}}" />
    <p class="centered">
      <button id="update401kBtn" class="btn btn-primary">Update</button>
      <button id="delete401kBtn" class="btn btn-danger">Delete</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/update401k.js"></script>
<script src="../js/delete401k.js"></script>
<script src="../js/cancelButton.js"></script>