<!-- Edit car loan card -->
<div class="accountCard">
  <div class="accountCardHeader">
    <div class="accountCardTitle">Edit Bank Account</div>
  </div>
  <div class="accountCardBody">
    <form id="viewCar" class="comment-form">
    <p>Title</p>
    <input id="viewAccountTitle" class="form-control" value="{{title}}" />
    <p>Current Balance</p>
    <input id="viewAccountBalance" class="form-control" value="{{balance}}" />
    <p class="centered">
      <button id="updateAccountBtn" class="btn btn-primary">Update</button>
      <button id="deleteAccountBtn" class="btn btn-danger">Delete</button>
      <button id="cancelButton" class="btn">Cancel</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/updateAccount.js"></script>
<script src="../js/deleteAccount.js"></script>
<script src="../js/cancelButton.js"></script>