<!-- Only show this page if the user is logged in -->
{{#if logged_in}}
  <div class="accountSection">
    {{> mortgage}}
  </div>
  <br />
  <div class="accountSection">
  {{> car}}
  </div>
  <br />
  <div class="accountSection">
  {{> creditCards}}
  </div>
  <br />
  <div class="accountSection">
  {{> loan}}
  </div>
{{else}}
  You must log in to view your accounts.
{{/if}}
