<!-- Only show this page if the user is logged in -->
{{#if logged_in}}
  <div class="accountSection">
  {{> bank}}
  </div>
  <br />
  <div class="accountSection">
    {{> mortgage}}
  </div>
  <br />
  <div class="accountSection">
  {{> car}}
  </div>
  <br />
  <div class="accountSection">
  {{> card}}
  </div>
  <br />
  <div class="accountSection">
  {{> loan}}
  </div>
  <br />
  <div class="accountSection">
    {{> 401k}}
  </div>
  <br />
  <div class="accountSection">
    {{> ira}}
  </div>
  <br />
  <div class="accountSection">
    {{> debt}}
  </div>
{{else}}
  You must log in to view your accounts.
{{/if}}
