<!-- Show a list of mortgages if there's at lease one available -->
{{#if mortgages.length}}
<div class="accountPosts">
{{#each mortgages as |mortgage| }}
  <a href="/edit-mortgage/{{id}}"><button class="btn btn-secondary btn-lg btn-block accountBtn"><span class="accountPost">{{title}}</span></button></a>
{{/each}}
</div>
{{/if}}

<!-- Create new post button -->
  <p class="centered">
    <button class="btn btn-primary"><a href="/add-mortgage">Add Mortgage</a></button>
  </p>