body {
  font-size: 16px;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  padding-left: 25px;
  background-color: #2d3e50;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

header h1 {
  color: #fff;
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 10px;
}

nav {
  font-size: 18px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav button {
  margin-right: 40px;
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #4ebcef;
  text-decoration: none;
}

.no-button a {
  color: #4ebcef;
}

.no-button a:hover {
  color: #6fdeff;
  text-decoration: underline;
}

.accountCard {
  border: 3px solid #2d3e50;
  margin-bottom: 20px;
}

.accountCard a {
  color: #fff;
}

.accountCardHeader {
  background-color: #2d3e50;
  color: #fff;
  padding: 15px;
  height: 50px;
  line-height: 15px;
}

.accountCardTitle {
  float: left;
  font-size: 25px;
  font-weight: bold;
}

.accountCardDate {
  float: right;
  vertical-align:text-bottom;
}

.accountCardBody {
  padding: 15px;
}

.accountCardBody p {
  margin-bottom: 0;
}

.accountPosts a {
  color: #000;
}

.accountPost {
  float: left;
  font-weight: bold;
  font-size: larger;
}

.accountDate {
  float: right;
}

.accountBtn {
  margin-bottom: 10px;
}

.centered {
  text-align: center;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  resize: none;
}
#errorMessage {
  color: #a00;
  font-weight: bold;
}

.gridTable {
  border: 3px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.gridCell {
  border: 1px solid #000;
  padding: 5px;
}

.gridCurrency {
  text-align: right;
}

.gridPercent {
  text-align: center;
}

.accountSection {
  border:4px double #000;
  border-radius: 10px;
  padding: 10px
}

@media screen and (max-width: 660px) {
  body {
    font-size: 0.8em;
  }

  nav {
    flex-direction: column;
  }

  .gridTable {
    font-size: 90%;
  }
}

@media screen and (max-width: 520px) {
  .gridTable {
    font-size: 80%;
  }
}